<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/styles.css">
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
   </head>
<body>
  <div class="container">
    <div class="title">Student Registration</div>
    <div class="content">
      <form action="/" method="post">
        <div class="user-details">
          <div class="input-box">
            <span class="details">First Name</span>
            <input   type="text" name="firstname" placeholder="Enter FirstName">
          </div>
          <div class="input-box">
            <span class="details">Last Name</span>
            <input  type="text" name="lastname" placeholder="Enter LastName">
          </div>
          <div class="input-box">
            <span class="details">Email</span>
            <input  type="email" name="email" placeholder="Enter Email">
          </div>
          <div class="input-box">
            <span class="details">Date of Birth</span>
            <input  type="date" name="dob" placeholder="Enter DOB">
          </div>
          <div class="input-box">
            <span class="details">Gender</span>
            <!-- <input  type="text" name="gender" placeholder="Enter Gender"> -->
            <select class="drop" name="gender" id="gender">
                <option value="male">Male</option>
                <option value="male">Female</option>
                <option value="male">Prefer not to Say</option>
            </select>
          </div>
          <div class="input-box">
            <span class="details">Address 1</span>
            <input  type="text" name="Address_Line_1" placeholder="Enter Address 1">
          </div>
          <div class="input-box">
            <span class="details">Address 2</span>
            <input  type="text" name="Address_Line_2" placeholder="Enter Address 2">
          </div>
          <div class="input-box">
            <span class="details">City</span>
            <input  type="text" name="City" placeholder="Enter City">
          </div>
          <div class="input-box">
            <span class="details">Zipcode</span>
            <input type="number" name="Zipcode" placeholder="Enter Zipcode">
          </div>
          <div class="input-box">
            <span class="details">Country</span>
            <input  type="text" name="Country" placeholder="Enter Country">
          </div>
        </div>
        
        <div class="button">
          <input type="submit" value="Register">
        </div>
      </form>
    </div>
  </div>

</body>
</html>
